<div class='stalk'>

    <script type="text/html" id="template">
      <div class='row-fluid'>
        <div class="span3">
          <img src="http://placehold.it/140x140" class="img-rounded">
        </div>
        <div class="span9">
          <div class="row-fluid">
            <div class='span12'>
              <h2><$= celebrity_name $></h2><br />
              <button class="following btn  btn-success" type="button">Stalk this Celeb...</button>
              <h5>Latest stalks</h5>
            </div>
           </div>      
          <$ _(spottings).each(function(stalk) { $>
            <div class='row-fluid stalked'>
              <div class="span12">
              <em><$= stalk.date $> @ <$= stalk.location $></em><br />
              <$= stalk.comment $><br />
              </div>      
            </div>
          <$ }); $>
        </div>
      </div>
    </script>
</div>
<% content_for :start do %>
  <script type="text/javascript">
    $(document).ready(function() {
      require_login();
      var view = new DetailView({ el: $('.stalk'), celebId: '<%= @id %>'}).render();
    });
  </script>
<% end %>
