<div class="row-fluid">
  <div class="offset1 span4">
    <form class="form-vertical">
      <legend>Target aquired!!</legend>
      <div class="control-group">
        <label class="control-label" for="who">Who?</label>
        <div class="controls">
          <input type="text" id="who" placeholder="who ya seen?">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="where">Where?</label>
        <div class="controls">
          <input type="password" id="where" placeholder="where ya seen em'?">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="comments">Comments</label>
        <div class="controls">
          <input type="password" id="comments" placeholder="whacha' wanna say??">
        </div>
      </div>      
      <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn">Stalk-em'!!</button>
        </div>
      </div>
    </form>
  </div>
</div>
<% content_for :start do %>
  <script type="text/javascript">
    $(document).ready(function() {
      require_login();
    });
  </script>
<% end %>