<div class="stalk">
  <div class="row-fluid">
    <div class="offset1 span4">
      <form class="form-vertical">
        <legend>Target aquired!!</legend>
        <div class="control-group">
          <label class="control-label" for="who">Who?</label>
          <div class="controls">
            <input type="text" autocomplete='off' id="celebrity_name" placeholder="who ya seen?" 
            data-provide='typeahead'
            data-source='search'
            >
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="where">Where?</label>
          <div class="controls">
            <input type="text" id="where" placeholder="where ya seen em'?" value="cocoon">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="comments">Comments</label>
          <div class="controls">
            <input type="text" id="comments" placeholder="whacha' wanna say??" >
          </div>
        </div>      
        <div class="control-group">
          <div class="controls">
            <button type="submit" class="btn">Stalk-em'!!</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<% content_for :start do %>
  <script type="text/javascript">

    $(document).ready(function() {
      require_login();
      var view = new StalkView({el: $('div.stalk'), }).render();
      $('#celebrity_name').typeahead({
        source: function(query, process) {
          return $.get('http://istalkerapp.appspot.com/search/' + query + '/', function(data) {
            return process(_.uniq(_.pluck(data, 'celebrity_name')));
          });
        }
      });
    });
  </script>
<% end %>